.sidebar {

    height: 100%;
    background-color: #955581;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;    width: 254px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #555;
  }